name: CD - Deploy to EC2

on:
  workflow_run:
    workflows: ["CI-1"]        # must match the name: of your CI workflow
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ec2
    environment: minikube    # rename if you want a different GitHub Environment

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set image tag (use CI run number)
        id: image
        run: echo "TAG=${{ github.event.workflow_run.run_number }}" >> $GITHUB_OUTPUT

      - name: Helm upgrade
        env:
          DOCKER_REPO: ${{ env.DOCKER_REPO }}
          IMAGE_TAG: ${{ steps.image.outputs.TAG }}
        run: |
          set -e

          CHART_PATH="./helm"

          echo "Using image: ${IMAGE_REPO}:${IMAGE_TAG}"
          ls -R

          helm upgrade --install calculator "${CHART_PATH}" \
            --set image.repository=${DOCKER_REPO} \
            --set image.tag=${IMAGE_TAG} \
            --namespace default \
            --create-namespace \
            --wait

          kubectl get pods -n default
          kubectl get svc -n default
      
